@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  /* transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease; */
  font-family: "Josefin Sans", sans-serif;
}

._1 {
  padding: 100px 0;
}
.design {
  background-color: #f9a743;
}
.input-group {
  width: 70%;
}
.dark {
  background-color: #f9a743;
}
.buy {
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(240, 173, 78, 0.75);
  border-radius: 40px;
  background-color: #f9a743;
  transition: all 0.3s ease 0s;
}
.input-group-text {
  background-color: #f9a743;
  color: white;
}
.call {
  background-image: url(./src/business_large.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  background-position: 50%;
  position: sticky;
}
.owl-dots {
  display: block !important;
}
